<article class="content">

    <h1>子育てブログとは</h1>

<div class="container">
    <ul class="row">
    <%= image_tag 'IMG_7929.jpg' , class:"col-xs-12 col-md-8" %>
   
    <p class="col-xs-12 col-md-4">  
    <br>
    この写真、可愛いでしょ！<br>
    やっぱり我が子が世界イチ！<br>
    普段大きな声では言えない“うちの子自慢”を、<br>
    思う存分吐き出したい！<br>
    そんな親バカママ・パパのためのブログです。
    </p>
</article>

</div>
